{% extends 'core/base.html' %}
{% load static %}

{% block myblock %}
<div class='container'>
    <div class="row mx-auto text-center" style="background-color: aquamarine;">
        <h1>Django crud Project using function bassed views</h1>
    </div>
    <div class="row">
       
        <div class="col-md-8 text-center mx-auto shadow shadow-lg">
            {% if msg %}
            <h4 class="alert {{cls}}">{{msg}}</h4>
            {% endif %}
    <h3 class="bg-warning">Add And Edit Data</h3>
   
    <form method="POST">
        {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" name="email" value="{{data.email}}" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" name="password" value="{{data.password}}" class="form-control" id="inputPassword4">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" name="city" value="{{data.city}}" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" name="state"  class="form-control">
            <option selected>{{data.state}}</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" name="zip" value="{{data.zips}}" class="form-control" id="inputZip">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    </div>
</div>

{% endblock %}